<h2>buttons</h2>
<section>
  <gld-button disabled name="button" color="pink">button</gld-button>
  <gld-button name="button" color="pink" size="tiny">button</gld-button>
  <gld-button name="button" color="purple" size="small">button</gld-button>
  <gld-button name="button" color="mustard" size="normal">button</gld-button>
  <gld-button name="button" color="orange" size="medium">button</gld-button>
  <gld-button name="button" color="red" size="large">button</gld-button>
  <gld-button name="button" color="blue">button</gld-button>
  <gld-button name="button" color="green">button</gld-button>
</section>

<h2>icon-buttons</h2>
<section>
  <gld-icon-button disabled [icon]="Icons.loader4Fill" name="button" color="green">
    button
  </gld-icon-button>
  <gld-icon-button
    background
    [icon]="Icons.loader4Fill"
    name="button"
    color="pink"
    size="tiny"
    [moveTopToBottom]="-4">
    button
  </gld-icon-button>
  <gld-icon-button [icon]="Icons.loader4Fill" name="button" color="purple" size="small">
    button
  </gld-icon-button>
  <gld-icon-button
    background
    [icon]="Icons.loader4Fill"
    name="button"
    color="mustard"
    size="normal">
    button
  </gld-icon-button>
  <gld-icon-button background [icon]="Icons.loader4Fill" name="button" color="orange" size="medium">
    button
  </gld-icon-button>
  <gld-icon-button background [icon]="Icons.loader4Fill" name="button" color="red" size="large">
    button
  </gld-icon-button>
  <gld-icon-button background [icon]="Icons.loader4Fill" name="button" color="blue" size="normal">
    button
  </gld-icon-button>
  <gld-icon-button [icon]="Icons.loader4Fill" name="button" color="green" size="normal">
    button
  </gld-icon-button>
</section>

<h2>controls</h2>
<section class="grid grid--3" [formGroup]="form">
  <gld-tile background color="orange">
    <article class="padding">
      <!-- First Name -->
      <gld-input
        [control]="form.controls.firstName"
        formControlName="firstName"
        name="firstName"
        label="Nombre"
        placeholder="john">
        <gld-input-hint>hint example</gld-input-hint>
      </gld-input>
      <!-- Last Name -->
      <gld-input
        [control]="form.controls.lastName"
        formControlName="lastName"
        name="lastName"
        label="Apellido"
        placeholder="doe">
      </gld-input>
    </article>
  </gld-tile>
  <gld-tile color="green">
    <!-- Date -->
    <gld-input-date
      [control]="form.controls.date"
      formControlName="date"
      name="date"
      label="Fecha"
      placeholder="00/00/0000">
      <gld-input-error [errors]="form.controls.date.errors">
        @if (form.controls.date.hasError('required')) {
          <span gldErrorMessage> Este campo es una fecha </span>
        }
      </gld-input-error>
    </gld-input-date>
  </gld-tile>

  <gld-loader loading background minHeight="auto">
    <!--  Comments -->
    <gld-textarea
      suffix
      [control]="form.controls.comments"
      formControlName="comments"
      label="Comentarios"
      name="comments"
      placeholder="Comentarios">
    </gld-textarea>
  </gld-loader>

  <!-- Agree -->
  <gld-radio-group
    [control]="form.controls.agree"
    formControlName="agree"
    label="Estas de acuerdo?"
    name="agree"
    direction="horizontal">
    <gld-radio-button value="Si"> Si </gld-radio-button>
    <gld-radio-button value="No"> No </gld-radio-button>
  </gld-radio-group>

  <gld-select
    [control]="form.controls.gender"
    formControlName="gender"
    name="gender"
    label="Genero"
    placeholder="Selecciona"
    [transform]="transformSelect">
    @for (gender of genders(); track gender.value) {
      <gld-select-option [value]="gender">
        {{ gender.label }}
      </gld-select-option>
    } @empty {
      <gld-select-option disabled value="no-hay-opciones"> no hay opciones </gld-select-option>
    }
  </gld-select>

  <section class="grid--span-3">
    <gld-button name="button" color="green" (clicked)="submit()">submit</gld-button>
  </section>
</section>
