<h2>buttons</h2>
<section class="buttons">
  <gld-button disabled name="button" color="pink"> button </gld-button>
  <gld-button name="button" color="pink" size="tiny"> button </gld-button>
  <gld-button name="button" color="purple" size="small"> button </gld-button>
  <gld-button name="button" color="mustard" size="normal"> button </gld-button>
  <gld-button name="button" color="orange" size="medium"> button </gld-button>
  <gld-button name="button" color="red" size="large"> button </gld-button>
  <gld-button name="button" color="blue"> button </gld-button>
  <gld-button name="button" color="green"> button </gld-button>
</section>
