@use 'styles';

:host {
  @include styles.scrollbar;
}

section,
h2 {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: var(--spacing--s);

  &--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &--span-3 {
    grid-column: span 3;
  }
}

.padding {
  padding: 1rem;
}
