@use 'styles';

section,
h2 {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: var(--spacing--s);

  &--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &--span-3 {
    grid-column: span 3;
  }
}
